*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container h1{
    padding: 2rem;
}

.card{
    border: 2px solid black;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin:  3rem;
    border-radius: 4%;
    transition: all 0.4s ease-in-out;
}
.card img{
    width: 34vw;
    height: 25vh;
    object-fit: cover;
    border-radius: 4%;
}

.card h3{
    font-weight: bold;
    padding: 10px 0;
    font-size: 40px;
}

.card p{
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

.card button{
    width: 34vw;
    height: 2vh;
    margin: 20px 0;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
}
 button:hover{
    transform: translateY(-6px);
    background-color: green;
     box-shadow: 10px 29px 40px;
}
.line {
    width: 100%;
    height: 2px;
    background-color: black;
}
.gi    {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.card:hover{
    transform: translateY(-29px);
    box-shadow: 10px 29px 40px;
}
