*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    padding: 30px;
}
h1{
    font-size: 4rem;
}
ul{
    display: flex;
    list-style: none;
    gap:20px;
    padding: 29px 0;
    font-size: 1.4rem;
}


ul li{
     cursor: pointer;
    
}
ul li:hover{
    color: red;
}
 
 
/*ul li::after{
    content: "";
    width: 0;
    height: 4px;
    background: blue;
    position: absolute;
    top: 0;
    bottom: -10px;
    transition: 0.3s;
    
}
ul li:hover::after{
    width: 100%;
}*/


button{
    padding: 14px 40px;
    border-radius: 40px;
    border: 2px solid black;
    font-size: 20px;
    position: relative;
    
}

button:hover{
    background-color: aquamarine;
    
}
   
