

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    min-height: 30vh;
    gap: 20px;
    padding: 20px;
}

.or, .re{
    border: 2px solid black;
    width: 45%;
    min-height: 220px;
    text-align: center;
    border-radius: 11px;
    padding: 10px;
   
}
.over {
    overflow: hidden;
    transition:  0.4s ease-in-out;
}
.ov{
     overflow: hidden;
    transition:  0.4s ease-in-out;
}
.or h3, .re h3{
    margin-bottom: 10px;
    font-size: 2rem;
    border-radius: 11px;
    border: 2px solid black;
    padding: 9px;
}

.or img, .re img{
    max-width: 100%;
    height: auto;
  
}
.or img:hover, .re img:hover{
    transform: scale(1.1);
    transition: all ease-in-out 0.4s;
}

/* Buttons */
.d{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.d button{
    padding: 10px 25px;
    cursor: pointer;
}

.try{
    background-color: white;
    border: 2px solid black;
    border-radius: 21px;
    font-size: 20px;
}

.do{
    background: antiquewhite;
    border: none;
    border-radius: 21px;
    font-size: 22px;
}
@media (max-width: 900px){
    .or, .re{
        width: 48%;
    }

    .or h3, .re h3{
        font-size: 1.5rem;
    }
}
@media (max-width: 600px){
    .container{
        flex-direction: column;
    }

    .or, .re{
        width: 100%;
    }

    .d{
        justify-content: center;
        flex-direction: column;
    }

    .try, .do{
        width: 100%;
        font-size: 18px;
    }
}
