*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 70px;
    margin: 20px;
    font-style: italic;
}
.cot{
    display: grid;
    grid-template-columns: 1fr 1/2fr;
    gap: 40px;
    padding: 20px;
}
.div{
    width: 100vw;
    height: 2px;
    background-color: black;
}
.ddiv{
    position: absolute;
    width: 78%;
    height: 2px;
    top: 157px;
    left: 50px;
    filter: opacity(0.2);
    background-color: black;
}

.card{
    display: flex;
    
    text-align: center;
    margin: 100px 0;
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    background-color: firebrick;
    
    
}
img{
    position: relative;
}
.card img    {
    position: relative;
    width: 40vw;
    height: 19vh;
     padding: 10px 20px;
    border-radius: 40px;
    object-fit: cover;
   
}

.img span{
    position: absolute;
    top: 20px;
    left: 10px;
    background: white;
    padding: 4px 8px;
    border-radius: 19px;
    border: 1px solid black;
    z-index: 2;
    transform: rotate(-20deg);
    font-size: 60px;
    animation: rot 1s alternate ease-in-out infinite;
}

@keyframes rot {
    from{
        transform: rotate(-50deg);
    }
    to{
         transform: rotate(-20deg);
    }
}

.card-body{
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.card-body h3{
 /*   padding: 60px 0;
    padding-right: 400px;*/
    padding: 40px 0;
    text-transform: uppercase;
   font-weight: bold;
   font-size: 50px;
}

.card-body span{
    position: absolute;
    top: 110px;
    left: 20px;
    background-color: lightblue;
    border: 2px solid aqua;
    border-radius: 10px;
    padding: 7px 15px;
}
.card-body p{
    font-size: 29px;
    padding-top: 36px;
}

.img{
    position: relative;
}
.card-body{
    position: relative;
}


.card-body button{
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 9px;
}
.card-body button:hover{
    background-color: aqua;
}
